<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="imu_sensor.urdf.xacro"/>
  <xacro:include filename="camera.urdf.xacro"/>
  <xacro:include filename="lidar_sensor.urdf.xacro"/>
  <xacro:include filename="gps_sensor.urdf.xacro"/>

  <xacro:imu_sensor
      frame_prefix="imu"
      update_rate="30" />

  <xacro:camera_sensor
      frame_prefix="front_cam"
      horizontal_fov="1.57"
      video_width="640"
      video_height="480" />

  <xacro:lidar_sensor
      frame_prefix="lidar"
      update_rate="20" />

  <xacro:gps_sensor
      frame_prefix="gps"
      update_rate="10" />

</robot>