<robot name="rover" version="1.0">
  <joint name="Cube.001_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="-0.78494 1.00818 0.42156"/>
    <parent link="chassis_link"/>
    <child link="Cube.001_link"/>
  </joint>
  <joint name="Cube.002_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="-0.01153 0.38661 0.42391"/>
    <parent link="chassis_link"/>
    <child link="Cube.002_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="frontL_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.56418 -0.93639 3.12224" xyz="-0.02187 -0.29773 -0.28847"/>
    <parent link="armFrontL_link"/>
    <child link="frontL_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="armFrontR_link_joint" type="fixed">
    <origin rpy="-0.00000 0.82216 1.57080" xyz="-0.40242 -0.20743 -0.20148"/>
    <parent link="axisF_link"/>
    <child link="armFrontR_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="frontR_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.56418 -0.93639 3.12224" xyz="-0.02187 0.29825 -0.28847"/>
    <parent link="armFrontR_link"/>
    <child link="frontR_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="base_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="-0.00310 -0.08948 0.54051"/>
    <parent link="chassis_link"/>
    <child link="base_link"/>
  </joint>
  <joint name="link1_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 1.20145"/>
    <parent link="base_link"/>
    <child link="link1_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="link2_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
    <parent link="link1_link"/>
    <child link="link2_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="link3_link_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 1.57080" xyz="0.96320 -0.00000 0.06102"/>
    <parent link="link2_link"/>
    <child link="link3_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="rot_link4_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.99849 0.00559 -0.52727"/>
    <parent link="link3_link"/>
    <child link="rot_link4_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="pris_link4_link_joint" type="prismatic">
    <limit lower="-0.20000" upper="2.30000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="3.14159 -0.00000 1.57080" xyz="-0.00000 -0.00000 -0.00000"/>
    <parent link="rot_link4_link"/>
    <child link="pris_link4_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="pris_link4.001_link_joint" type="prismatic">
    <limit lower="0.00000" upper="0.20000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-3.14159 -1.57080 3.14159" xyz="0.34912 0.00059 0.07033"/>
    <parent link="pris_link4_link"/>
    <child link="pris_link4.001_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="Cube_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="0.76908 0.97227 0.42156"/>
    <parent link="chassis_link"/>
    <child link="Cube_link"/>
  </joint>
  <joint name="pris_link4.002_link_joint" type="prismatic">
    <limit lower="0.00000" upper="0.20000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 1.57080 0.00000" xyz="-0.34568 0.00059 0.07033"/>
    <parent link="pris_link4_link"/>
    <child link="pris_link4.002_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="axisB_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="-0.00054 -0.50271 -0.36400"/>
    <parent link="chassis_link"/>
    <child link="axisB_link"/>
  </joint>
  <joint name="armBackL_link_joint" type="fixed">
    <origin rpy="0.00000 -0.82216 1.57080" xyz="0.41000 0.20743 -0.20148"/>
    <parent link="axisB_link"/>
    <child link="armBackL_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="backL_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-1.60020 -0.56075 0.01354" xyz="0.02187 -0.29773 -0.28847"/>
    <parent link="armBackL_link"/>
    <child link="backL_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="armBackR_link_joint" type="fixed">
    <origin rpy="0.00000 -0.82216 1.57080" xyz="-0.40243 0.20743 -0.20148"/>
    <parent link="axisB_link"/>
    <child link="armBackR_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="backR_link_joint" type="continuous">
    <limit effort="0.00000" velocity="0.00000"/>
    <origin rpy="-1.60020 -0.56075 0.01354" xyz="0.02187 0.29825 -0.28847"/>
    <parent link="armBackR_link"/>
    <child link="backR_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="axisF_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="-0.00054 0.32397 -0.36400"/>
    <parent link="chassis_link"/>
    <child link="axisF_link"/>
  </joint>
  <joint name="armFrontL_link_joint" type="fixed">
    <origin rpy="0.00000 0.82216 1.57080" xyz="0.41000 -0.20743 -0.20148"/>
    <parent link="axisF_link"/>
    <child link="armFrontL_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <link name="chassis_link">
    <collision name="chassis_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00852 0.22069 0.34429"/>
      <geometry>
        <box size="1.95334 2.78490 0.07178"/>
      </geometry>
    </collision>
    <collision name="chassis_collision.000">
      <origin rpy="0.45745 -0.00000 0.00000" xyz="-0.00415 1.86091 0.44132"/>
      <geometry>
        <box size="1.50418 0.49477 0.06170"/>
      </geometry>
    </collision>
    <collision name="chassis_collision.000.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00415 -1.41774 0.34151"/>
      <geometry>
        <box size="1.46371 0.45353 0.08198"/>
      </geometry>
    </collision>
    <collision name="chassis_collision.000.001.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00415 -0.08136 -0.17336"/>
      <geometry>
        <box size="1.07593 0.96827 0.25516"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00084" ixy="-0.00000" ixz="-0.00000" iyy="0.00030" iyz="0.00007" izz="0.00099"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00312 0.15411 0.17204"/>
      <mass value="0.00100"/>
    </inertial>
    <visual name="chassis">
      <material name="Material.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cube.001.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube.001_link">
    <collision name="Cube.001_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.04158 0.98771 0.10979"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00008" ixy="0.00000" ixz="0.00000" iyy="0.00000" iyz="0.00000" izz="0.00008"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.00100"/>
    </inertial>
    <visual name="Cube.001">
      <material name="Material.010"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.04657 0.98760 0.09602"/>
      </geometry>
    </visual>
  </link>
  <link name="armFrontL_link">
    <collision name="armFrontL_collision">
      <origin rpy="-0.00001 1.56569 -0.00001" xyz="-0.00257 -0.00198 0.00239"/>
      <geometry>
        <box size="0.50298 0.08415 0.06858"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.04846" ixy="0.00000" ixz="0.00000" iyy="0.02390" iyz="-0.02296" izz="0.02681"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="armFrontL">
      <material name="Material.006"/>
      <origin rpy="3.14159 -1.56569 -3.14159" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="0.53237 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <link name="frontL_link">
    <collision name="frontL_collision">
      <origin rpy="0.01967 0.01541 -0.18756" xyz="0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.002.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56590" ixy="-0.00412" ixz="0.00325" iyy="0.35843" iyz="-0.00006" izz="0.35977"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00054 -0.00061 0.03131"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="frontL">
      <material name="Material.020"/>
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.007.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="armFrontR_link">
    <collision name="armFrontR_collision">
      <origin rpy="-3.14157 -1.56569 3.14157" xyz="0.00000 0.00580 0.00000"/>
      <geometry>
        <box size="0.52966 0.08095 0.08510"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.04846" ixy="0.00000" ixz="0.00000" iyy="0.02390" iyz="-0.02296" izz="0.02681"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="armFrontR">
      <material name="Material.007"/>
      <origin rpy="-3.14157 -1.56569 3.14157" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <box size="0.53237 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <link name="frontR_link">
    <collision name="frontR_collision">
      <origin rpy="0.01967 0.01541 -0.18756" xyz="0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.004.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56589" ixy="-0.00414" ixz="0.00322" iyy="0.35844" iyz="-0.00006" izz="0.35978"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00018 0.00078 -0.03141"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="frontR">
      <material name="Material.021"/>
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.008.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="base_link">
    <collision name="base_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.24386" length="0.32609"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.07439" ixy="0.00000" ixz="0.00000" iyy="0.07439" iyz="0.00000" izz="0.09086"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <mass value="3.00000"/>
    </inertial>
    <visual name="base">
      <material name="Material.013"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.24611" length="0.34037"/>
      </geometry>
    </visual>
  </link>
  <link name="link1_link">
    <collision name="link1_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.51620"/>
      <geometry>
        <cylinder radius="0.14773" length="1.02786"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.28050" ixy="0.00000" ixz="0.00000" iyy="0.28050" iyz="0.00000" izz="0.03308"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.51377"/>
      <mass value="3.00000"/>
    </inertial>
    <visual name="link1">
      <material name="Material.014"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.51377"/>
      <geometry>
        <cylinder radius="0.14851" length="1.02753"/>
      </geometry>
    </visual>
  </link>
  <link name="link2_link">
    <collision name="link2_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.48323 0.00337 -0.09891"/>
      <geometry>
        <box size="1.36656 0.37802 0.17955"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.01460" ixy="0.00000" ixz="-0.00000" iyy="0.15831" iyz="0.00000" izz="0.16753"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.48323 0.00337 -0.09891"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="link2">
      <material name="Material.015"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.48828 0.00198 -0.09819"/>
      <geometry>
        <box size="1.35462 0.38291 0.17125"/>
      </geometry>
    </visual>
  </link>
  <link name="link3_link">
    <collision name="link3_collision">
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.48941 -0.00901 0.01379"/>
      <geometry>
        <box size="1.34352 0.38869 0.16903"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.15280" ixy="0.00000" ixz="-0.00000" iyy="0.01497" iyz="0.00000" izz="0.16301"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.48941 -0.00901 0.01379"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="link3">
      <material name="Material.016"/>
      <origin rpy="0.00000 -0.00000 0.00000" xyz="-0.49140 -0.00796 0.01204"/>
      <geometry>
        <box size="1.35462 0.38291 0.17125"/>
      </geometry>
    </visual>
  </link>
  <link name="rot_link4_link">
    <collision name="rot_link4_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 0.31437"/>
      <geometry>
        <cylinder radius="0.07101" length="0.27439"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00404" ixy="0.00000" ixz="0.00000" iyy="0.00404" iyz="0.00000" izz="0.00126"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.31363"/>
      <mass value="0.50000"/>
    </inertial>
    <visual name="rot_link4">
      <material name="Material.017"/>
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="-0.00000 -0.00000 0.31363"/>
      <geometry>
        <cylinder radius="0.07102" length="0.28609"/>
      </geometry>
    </visual>
  </link>
  <link name="pris_link4_link">
    <collision name="pris_link4_collision">
      <origin rpy="3.14159 0.00000 -3.14159" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.013.dae" scale="0.03922 0.03922 0.61477"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00071" ixy="0.00000" ixz="-0.00000" iyy="0.00072" iyz="0.00000" izz="0.00001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <mass value="0.00100"/>
    </inertial>
    <visual name="pris_link4">
      <material name="Material.004"/>
      <origin rpy="3.14159 0.00000 3.14159" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.013.dae" scale="0.03922 0.03922 0.61477"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube.002_link">
    <collision name="Cube.002_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.05301 0.92029 0.10866"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00000" ixy="0.00000" ixz="0.00000" iyy="0.00007" iyz="0.00000" izz="0.00007"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.00100"/>
    </inertial>
    <visual name="Cube.002">
      <material name="Material.011"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.04657 0.89445 0.09602"/>
      </geometry>
    </visual>
  </link>
  <link name="pris_link4.001_link">
    <collision name="pris_link4.001_collision">
      <origin rpy="0.00000 -1.57080 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
      <geometry>
        <box size="0.02510 0.06000 0.09410"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00052" ixy="0.00000" ixz="0.00000" iyy="0.00040" iyz="0.00000" izz="0.00018"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <mass value="0.50000"/>
    </inertial>
    <visual name="pris_link4.001">
      <material name="Material.003"/>
      <origin rpy="-0.00000 -1.57080 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.009.dae" scale="0.03922 0.03922 0.61477"/>
      </geometry>
    </visual>
  </link>
  <link name="pris_link4.002_link">
    <collision name="pris_link4.002_collision">
      <origin rpy="-3.14159 -1.57080 -3.14159" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="0.02510 0.06000 0.09410"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00052" ixy="-0.00000" ixz="0.00000" iyy="0.00040" iyz="-0.00000" izz="0.00018"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <mass value="0.50000"/>
    </inertial>
    <visual name="pris_link4.002">
      <material name="Material.004"/>
      <origin rpy="0.00000 1.57080 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.010.dae" scale="0.03922 0.03922 0.61477"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube_link">
    <collision name="Cube_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.06923 0.98010 0.10221"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00008" ixy="0.00000" ixz="0.00000" iyy="0.00000" iyz="0.00000" izz="0.00008"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.00100"/>
    </inertial>
    <visual name="Cube">
      <material name="Material.012"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.04657 0.98760 0.09602"/>
      </geometry>
    </visual>
  </link>
  <link name="axisB_link">
    <collision name="axisB_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00231 0.00000 0.00000"/>
      <geometry>
        <box size="0.90922 0.09218 0.07716"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00241" ixy="0.00000" ixz="0.00000" iyy="0.13877" iyz="0.00000" izz="0.13920"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00231 0.00000 0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="axisB">
      <material name="Material.008"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.88702 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <link name="armBackL_link">
    <collision name="armBackL_collision">
      <origin rpy="-0.00001 -1.56569 0.00001" xyz="0.00479 -0.00207 0.00445"/>
      <geometry>
        <box size="0.53576 0.07240 0.07520"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.04846" ixy="0.00000" ixz="-0.00000" iyy="0.02390" iyz="0.02296" izz="0.02681"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="armBackL">
      <material name="Material.002"/>
      <origin rpy="-3.14159 1.56569 -3.14159" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="0.53237 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <link name="backL_link">
    <collision name="backL_collision">
      <origin rpy="0.01967 0.01541 -0.18756" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.001.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56590" ixy="-0.00415" ixz="0.00325" iyy="0.35843" iyz="-0.00006" izz="0.35977"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00050 -0.00084 0.03131"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="backL">
      <material name="Material.018"/>
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.005.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="armBackR_link">
    <collision name="armBackR_collision">
      <origin rpy="-3.14156 1.56569 -3.14156" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.56133 0.08674 0.08389"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.04846" ixy="0.00000" ixz="-0.00000" iyy="0.02390" iyz="0.02296" izz="0.02681"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="armBackR">
      <material name="Material.005"/>
      <origin rpy="-3.14157 1.56569 -3.14157" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="0.53238 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <link name="backR_link">
    <collision name="backR_collision">
      <origin rpy="0.01967 0.01541 -0.18756" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.003.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.56589" ixy="-0.00412" ixz="0.00322" iyy="0.35844" iyz="-0.00006" izz="0.35978"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00022 0.00055 -0.03141"/>
      <mass value="10.00000"/>
    </inertial>
    <visual name="backR">
      <material name="Material.019"/>
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/dae/Cylinder.006.dae" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="axisF_link">
    <collision name="axisF_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <box size="0.85750 0.08751 0.07235"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00215" ixy="0.00000" ixz="0.00000" iyy="0.12342" iyz="0.00000" izz="0.12383"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="axisF">
      <material name="Material.009"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.88702 0.08219 0.08564"/>
      </geometry>
    </visual>
  </link>
  <material name="Material.001">
    <color rgba="0.00000 0.00392 1.00000 1.00000"/>
  </material>
  <material name="Material.002">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.003">
    <color rgba="0.00000 0.00392 1.00000 1.00000"/>
  </material>
  <material name="Material.004">
    <color rgba="0.00000 0.00392 1.00000 1.00000"/>
  </material>
  <material name="Material.005">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.006">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.007">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.008">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.009">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.010">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.011">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.012">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.013">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.014">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.015">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.016">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.017">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.018">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.019">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.020">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Material.021">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
</robot>