<?xml version="1.0"?>

<robot name="cubo">
    <material name="blue">
        <color rgba="0 0 1 1" />
    </material>

    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.7" radius="0.25" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
             <cylinder length="0.7" radius="0.25" />
            </geometry>
        </collision>

		<inertial>
      		<mass value="1.0"/>
      		<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    	</inertial>

    </link>

</robot>