<?xml version="1.0"?>

<robot name="ramp">
    
    <material name="blue">
        <color rgba="0 0 0.8 1" />
    </material>

    <link name="base_link">

        <inertial>
            <origin xyz="0 0 0.1" />
            <mass value="10000.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="1.0" iyz="0.0" izz="1.0" />

        </inertial>
        <visual>        
            <origin xyz="0 0 0.1" /> <!-- No cambiamos los origin porque añaden desfase, no es lo mismo que startPosition -->
            <geometry>
                <box size="2 4 1.4" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0 0 0.1" />
            <geometry>
             <box size="2 4 1.4" />
            </geometry>
        </collision>

    </link>

    <link name="ramp0_link">

        <inertial>
            <origin rpy="63.43 0 0" xyz="0 2 0.75" /> <!-- theta = arcsin(1.5/sqr(11.25)) -->
            <mass value="1.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="0.0" iyz="0.0" izz="1.0" />

        </inertial>
        <visual>        
            <origin rpy="63.43 0 0" xyz="0 2 0.75" />
            <geometry>
                <box size="2 3.35 0.1" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin rpy="63.43 0 0" xyz="0 2 0.75" />
            <geometry>
             <box size="2 3.35 0.1" />
            </geometry>
        </collision>

    </link>

    <joint name="base_to_ramp0" type="fixed">
        <parent link="base_link" />
        <child link="ramp0_link" />
        <dynamics damping="0.0" friction="0.00001" />
        <origin xyz="0 2 0.75" />

        <limit lower="-0.14" upper="0.14" effort="10.0" velocity="0.5" />
    </joint>
</robot>